{% extends 'portfolio_app/base.html' %}

{% block content %}
<section id="proyectos" class="text-center min-h-[300px] py-12">
    <h2 class="text-3xl mb-6 text-gray-200">Proyectos</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 px-6">
        <div class="bg-gray-800 p-6 rounded-lg shadow-lg hover:shadow-xl transition duration-300">
            <a href="https://sterakfood.fly.dev/blog/" class="text-white font-semibold text-xl mb-4 bg-green-500 hover:bg-green-600 py-2 px-4 rounded">
                Proyecto 1, Blog de recetas
            </a>
            <br/>
            <p class="text-gray-300">
                Este proyecto fue realizado con Python y Django para la entrega final de mi curso de CoderHouse. 
                Incluye registro de usuario, base de datos, un panel de perfil de usuario, login, formulario de contacto,
                chat y funcionalidades para que los usuarios puedan subir y comentar recetas de otros e interactuar entre ellos.
            </p>
            <center>
                <a href="https://youtu.be/NulAMiea8Ec" target="_blank" class="flex items-center justify-center w-8 h-8 bg-gray-700 rounded-full text-gray-300 hover:bg-gray-600">
                <i class="fas fa-play fa-2x"></i>
            </center>
            </a>
        </div>
    </div>
</section>
{% endblock %}
