/* General */
body {
    font-family: 'Calibre', sans-serif;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupe toda la altura del viewport */
}

/* Navbar */
nav ul li a {
    transition: color 0.3s;
}

/* Barra lateral izquierda */
.sidebar {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar a {
    color: #ccd6f6;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s;
}

.sidebar a:hover {
    color: #64ffda;
}

/* Contenido principal */
main {
    flex-grow: 1; /* Permite que el contenido principal ocupe el espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Secciones */
section {
    padding: 80px 20px;
    animation: fadeIn 1s ease-out;
}

/* Footer */
footer {
    background-color: #112240;
    color: #ccd6f6;
    padding: 1rem 0;
    text-align: center;
    border-top: 1px solid #8b0000;
    position: relative; /* Esto asegura que esté siempre estático */
    bottom: 0;
    width: 100%;
}

/* Animación */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo para las tarjetas de proyecto */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsivo */
    gap: 1.5rem; /* Espaciado entre tarjetas */
    justify-content: center; /* Alineación horizontal */
}

.bg-gray-800 {
    background-color: #1e293b; /* Fondo gris oscuro */
}

.rounded-lg {
    border-radius: 0.75rem; /* Bordes redondeados */
}

.shadow-lg {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.hover\:shadow-xl:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); /* Sombra más fuerte al pasar el cursor */
}

.text-gray-300 {
    color: #d1d5db; /* Texto gris claro */
}

.transition {
    transition: all 0.3s ease-in-out;
}

/* Alineación general */
.text-center {
    text-align: center;
}
